{{/* -*- engine:go -*- */}}
<nav class="navbar is-fixed-top" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        {{ if .Site.Params.showNavTitle }}
            <a class="navbar-item" href="{{ .URL  }}">
                {{ .Site.Title  }}
            </a>
        {{ end }}
        <a role="button"
           id="navBarBurger"
           class="navbar-burger burger"
           aria-label="menu"
           aria-expanded="false"
           data-target="navBarMenu">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>

    </div>
    <div class="navbar-menu" id="navBarMenu">
        <!-- hidden on mobile -->
        <div class="navbar-start">
            {{ with .Site.Menus.main }}
                {{ range .  }}
                    <a class="navbar-item" href="{{ .URL | relLangURL  }}">
                        {{ .Name  }}
                    </a>
                {{  end }}
            {{  end }}
        </div>
        <div class="navbar-end"></div>
    </div>
</nav>
