{{/* -*- engine:go -*- */}}
<div class="container">
    <div class="tile is-parent">
        {{ range sort (where .Site.RegularPages "Section" "recipes") "Title" }}
            <div class="tile is-4">

                                <a href="{{ .RelPermalink }}">
                <div class="card">
                    <div class="card-content">
                        <div class="media">
                            <div class="media-left">
                                {{ with .Resources.ByType "image" }}
                                    {{ range first 1 . }}
                                        <figure class="image is-64x64">
                                            <img class="is-rounded" src="{{$.Site.BaseURL}}{{ .RelPermalink }}">
                                        </figure>
                                    {{ end }}
                                {{ else }}
                                    <div class="image ratio bg-cover"></div>
                                {{ end }}
                            </div>
                            <div class="media-content">
                                    <p class="title is-4">{{ .Title  }}</p>
                            </div>
                        </div>
                    </div>
                </div>
                                </a>
          </div>
        {{ end }}
    </div>
</div>
<div class="container">
    {{ .Content }}
</div>
